body {
  font-family: 'Ubuntu', sans-serif!important;
  background-color: #f2f2f2f2!important;
  color: #666666!important;
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 220px;
}

.container {
  border: 2px solid #ccc;
  box-shadow: 5px 10px #ccc;
}

/*delete this to change the icon color to white*/
i {
  color: #ccc;
}

.btn-primary {
  background-color: #70ae66 !important;
  border-color: #598b51 !important;
}
.btn-primary:hover {
  background-color:  #598b51 !important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #70ae667a !important;
} 
  
.form-control:focus {
    border-color: #70ae66 !important;
    box-shadow: 0 0 0 0.2rem #70ae667a !important;
}