body {
  font-family: 'Ubuntu', sans-serif!important;
  background-color: #444!important;
  color: #FFF!important;
  /* border: 2px solid #bebdbb; */
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 600px;
  height: 220px;
}

.container {
  border: 2px solid #3d3d3d;
  box-shadow: 5px 10px #3d3d3d;
}

/*delete this to change the icon color to white*/
i {
  color: #2a2a2a;
}

.btn-primary {
  background-color: #7dc272 !important;
  border-color: #70ae66 !important;
}
.btn-primary:hover {
  background-color:  #70ae66 !important;
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 0.2rem #70ae667a !important;
} 
  
.form-control:focus {
    border-color: #70ae66 !important;
    box-shadow: 0 0 0 0.2rem #70ae667a !important;
}